@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    display: flex;
    width: 100%;
    height: 100%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in-modal {
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    animation: fadein 300ms;
}

.scrollbar-styling {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(158, 158, 158);
        border-radius: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-color: gray transparent;
        scrollbar-width: thin;
    }
}

.navlink .active {
    background-color: aliceblue;
    color: #111;
    border-radius: 0.75rem;
}